.nav_all {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    margin-top: 50px;
    border: 1px solid rgb(188, 126, 126);
    padding: 15px;

}

.nav_links {
    color: aliceblue;
    text-decoration: none;
    border: 1px solid rgb(234, 201, 201);
    border-radius: 50px;
    padding: 10px;
}

.nav_links:hover {
    background-color: rgb(167, 121, 121);
}

.basket {
    width: 50px;
    height: 50px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
}

.sign_in{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 5px;

}

.backet_and_pr{
    display: flex;
}

.profile_text{
    font-size: 15px;
}

.profile_text:hover{
    background-color: rgb(255, 255, 255);
    color: red;
}